.flex {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    padding: 15px;
}
header {
    background-color: #ffca7b;
    flex: 0 0 10%;
    align-items: center;
}
header > span {
    padding: 2% 0;
    flex: 1 1 60%;
    margin-left: 10px;
}
footer {
    background-color: #b3afaf;
    justify-content: space-evenly;
    flex: 0 0 10%;
}