@mixin flex-container {
	display: flex;
	overflow: hidden;
	* {
		flex: 0 0 auto;
		overflow: auto;
	}
}
@mixin between {
	justify-content: space-between;
}
$popup-color: #f0e2e2;
$font-color: #f9b39b;
.popup {
	width: 200px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -150px;
	background-color: $popup-color;
	@include flex-container;
	flex-direction: column;
	padding: 10px;
}
.popup_form {
	.form__label {
		font-size: 20px;
		color: #fa835c;
	}
	.form__input {
		margin: 10px 0;
		font-size: 15px;
		width: 90%;
		background-color: $popup-color;
		border: 0px;
	}
	.form__select {
		@include flex-container;
		@include between;
		flex-direction: row;
	}
	.form__checkList {
		@include flex-container;
		@include between;
		flex: 2 0 auto !important;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		.form__label {
			@include flex-container;
			@include between;
			align-self: stretch;
			align-items: center;
			.fa-plus {
				color: black;
			}
		}
		.form__content {
			@include flex-container;
			flex-direction: column;
		}
	}
}
.popup_update {
	@include flex-container;
	flex-direction: column;
	height: 100%;
	.header {
		flex: 0.5 0 !important;
		font-weight: 1000;
		color: $font-color;
		font-size: 25px;
		@include flex-container;
		justify-content: space-between;
		align-items: center;
	}
	.headerCheckList {
		@include flex-container;
		@include between;
		align-items: center;
		padding: 10px;
		color: black;
		font-size: 15px;
		div {
			* {
				margin: 2.5px;
				color: red;
			}
		}
	}
	.popup__form {
		flex: 2 0 !important;
		ul {
			@include flex-container;
			@include between;
			align-items: center;
			padding: 5px;
			flex-direction: column;
		}
	}
	.poup__button_bar {
		@include flex-container;
	}
}
.popup__form {
	color: $font-color;
	li {
		@include flex-container;
		@include between;
		align-items: center;
	}
	input {
		border: 0px;
		background-color: $popup-color;
		color: black;
	}
}
.popup__button_bar {
	@include flex-container;
	justify-content: space-around;
	flex: 0.5 0 !important;
	padding: 5px;
	* {
		width: 35%;
		text-align: center;
		border: 1px solid #f9b39b;
		border-radius: 25%;
		background-color: #d38469;
	}
}
